<platform name="android">
    <config-file target="config.xml" parent="/*">
        <feature name="RemFixerPlugin">
            <param name="android-package" value="org.apache.cordova.plugin.RemFixerPlugin"/>
        </feature>
    </config-file>

    <source-file src="src/android/RemFixerPlugin.java" target-dir="src/org/apache/cordova/plugin" />
</platform>
